aiohttp
PyMysql
pymongo
requests
bs4
jieba
werobot
pandas
numpy
beautifulsoup4
selenium
pyquery
sklearn
kafka-python
rocketmq
windows-curses
# https://github.com/pywebio/PyWebIO (web app with python script)
pywebio
# https://github.com/brainix/pottery
pottery